page-product-attr {
    .modal-box{
        border-top:1px solid #E3E3E4;
        background:#fff;
        img{
            width:30%;
            height:100%;
        }
        
    }
    .list-price {
        margin-left:20px;
        height: 26px;
        line-height: 18px;
        position: relative;
        bottom: 0;
      }
      .price-new {
        font-size: 18px;
        color: #f8285c;
        margin-bottom:5px;
      }
      .list-price i {
        font-style: normal;
        font-size: 12px;
      }
      .stock{
          color:#A9A9A9;
          margin-top:5px;
      }

      .product-attr{
          margin-top:15px;
      }
      .attr-row{
          border-bottom:1px solid #EEEEEE;
          padding-bottom:10px;
      }
      .attr-title{
          font-size:17px;
         
      }
      .attr-content{
          border:1px solid #F3F3F3;
          border-radius:5px;
          margin-right:10px;
          background-color:#F3F3F3;
          text-align:center;
          margin-top:10px;
      }
      .attr-active{
          border:1px solid #ff4633;
          color:#ff4633;
      }
      .change-num{
          margin-top:20px;
          margin-bottom:30px;
          font-size:17px;
      }
      .num-input{
        width:50px;
        height:30px;
        text-align: center;
      }
}
