page-order-translist {
    .btn-color6{
        padding:5px 10px;
        border:1px solid #ff4633;
        border-radius: 5px;
        color:#ff4633;
        font-size:12px;
        line-height:20px;
    }
    .line-height30{
        line-height: 30px;
    }
    .weight-price{
        font-size:12px;
        color:#727272;
        line-height:20px;
    }
    .width-left{
        width:60%;
    }
    .btn-colord{
        
        padding:5px 10px;
        border:1px solid #D2D2D2;
        border-radius: 5px;
        color:#797979;
        font-size:12px;
        line-height:20px;
    }
    
}
