page-contact {
    .login-botton{
        margin-top:20px;
        margin-bottom:20px;
        background:#ff4633;
        color:#fff;
        height:40px;
        text-align:center;
        line-height:40px;
    }
    .mine-top{
        padding-bottom:20px;
    }
    .head-img{
        width:50px;
        height:50px;
        border-radius:50%;
        background:#fff;
        img{
            width:50px;
            height:50px;
            border-radius:50%;
        }
    }
    .head{
        color:#fff;
    }
    .login-box{
        font-size:14px;
        margin-left:20px;
    }
    .fontsize14{
        font-size:14px;
    }
    .button-recharge{
        padding:5px 10px;;
        border-radius:5px;
        background-color:#fff;
        color:#ff4633;
        border:1px solid #fff;
        font-size:13px;
        margin-left:8px;
    }
    .button-withdraw{
        padding:5px 10px;;
        border-radius:5px;
        background-color:#ff4633;
        color:#fff;
        border:1px solid #fff;
        font-size:13px;
        margin-left:8px;
    }
    .mt-20{
        margin-top:20px;
    }
    .item-center{
        text-align:center;
        margin-top:10px;
        margin-bottom:10px;
    }
    .content-bgcolor{
        background-color:#F3F3F3;
    }
    .item-bgcolor{
        background-color:#fff;
    }
    .item-border{
        background-color:#fff;
        margin-top:16px;
    }
    .item-mb{
        margin-bottom:16px;
    }
    .list-pd{
        padding-left:10%;
        padding-right:10%;
    }
    
}
