
<ion-header>
    <ion-navbar color="danger">
        <div style="background: linear-gradient(to right, #FF4633, #FF7454);" class="head">
          <!-- <div style="height:30px;width:70%;background:#fff;margin-bottom:10px;"></div> -->
          <ion-row justify-content-between padding-left padding-right>
              <div><ion-icon class="iconfont ml-10" style="font-size:22px!important;visibility: hidden;">&#xe616;</ion-icon></div>
              <div class="search-box"><ion-icon name="search" style="font-size:20px!important;color:#999999;padding-left:0px;"></ion-icon><input type="text" class="search-input"></div>
              <!-- <input type="text" class="search-box"> -->
              <div (click)="goCart()"><ion-icon class="iconfont ml-10" style="font-size:22px!important;">&#xe616;</ion-icon></div>
          </ion-row>
        </div>
      <!-- <ion-title>首页</ion-title> -->
      <!-- <ion-searchbar style="border-radius: 20px;margin-left:10%;width:80%;" (ionInput)="getItems($event)"></ion-searchbar> -->
      <!-- <ion-buttons end padding-right>
          <button (click)="gocart()" style="background-color:#fff;">
            <ion-icon name="ios-cart-outline" style="font-size:20px;"></ion-icon>
          </button> 
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  <ion-content>
  
    <ion-row *ngIf="spinner1">
      <ion-col text-center>
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  
    <ion-slides>
      <ion-slide *ngFor="let item of slides">
          <!-- <img src="http://www.jj.com/uploadfile/{{item.adfile}}" alt="" style="height:175px;width:375px;"> -->
          <img src="{{item.url}}" alt="" style="height:175px;width:375px;">
        <!-- <div class="cover"></div>
        <span class="title">{{item.Title}}</span> -->
      </ion-slide>
    </ion-slides>
  
  
    <div class="categories">
      <ion-grid>
        <ion-row wrap class="catebox-border">
          <ion-col text-center tappable col-4 *ngFor="let c of category" (click)="goProductList(c.id)" class="catebox-border-right">
            <img src="{{c.url}}" alt="">
            <div [class.catetitlecolor1]="c.id===1" [class.catetitlecolor2]="c.id===2" [class.catetitlecolor3]="c.id===3">{{c.title}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">商城人气商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <div class="home-content">
      <img src="{{selfshopimg.url}}" alt="" class="categoryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of selfshopproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>￥</i>{{p.webprice}}</span>
              <!-- <i class="del">￥<span>{{p.webprice}}</span></i> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">亚马逊热销商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <div class="home-content">
      <img src="{{amazonimg.url}}" alt="" class="categoryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of amazonproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>￥</i>{{p.webprice}}</span>
              <!-- <i class="del">￥<span>{{p.webprice}}</span></i> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- <ion-item-divider class="color-black"> 乐天热销商品 <span class="t-header-right">></span></ion-item-divider> -->
    <ion-item-divider>
        <ion-row justify-content-between>
        <span class="color-black">乐天热销商品</span>
        <span class="t-header-right">></span>
       </ion-row>
    </ion-item-divider>
    <div class="home-content">
      <img src="{{takutenimg.url}}" alt="" class="cateogryimg">
      <div class="product">
        <ion-row wrap>
          <ion-col tappable col-4 *ngFor="let p of takutenproducts" (click)="goDetails(p.id)">
            <img src="{{p.images}}" alt=""/>
            <p>{{p.productname}}</p>
            <div class="list-price buy">
              <span class="price-new"><i>￥</i>{{p.webprice}}</span>
              <!-- <i class="del">￥<span>{{p.webprice}}</span></i> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  
  </ion-content>
  


