<!--
  Generated template for the ProductCart2orderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>确认订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-bgcolor">

  <div padding-left padding-right padding-top class="address-border">
      <div padding class="address-box">
          <ion-row justify-content-between>
            <div style="width:90%;">
                <ion-row justify-content-between>
                  <div>{{address.name}}</div>
                  <div>{{address.mobile}}</div>
                </ion-row>
                <div>{{address.address}}</div>
            </div>
            <div class="icon-box" (click)="manageAddress()"><ion-icon name="arrow-forward"></ion-icon></div>
          </ion-row>
        
      </div>
  </div>
  
  <div *ngIf="cart1.length > 0">
      <div padding-right padding-left class="item-border">
          <ion-row justify-content-between align-items-center style="text-align: center;">
              <div class="" style="text-align:center!important;">淘日本商城</div>
              <div><ion-icon name="arrow-up"></ion-icon></div>
          </ion-row>
      </div>
      <div padding-right padding-left class="item-border2" *ngFor="let item of cart1;let i = index">
        <div *ngIf="item.type == 1">
            <ion-row justify-content-start align-items-center class="flex-nowrap">
                <div class="product-img"><img src="{{item.product.images}}" alt=""></div>
                <div class="product">
                  <div class="product-title">{{item.product.productname}}</div>
                  <div class="product-attr" *ngIf="item.attr">{{item.attr}}</div>
                  <div justify-content-between class="list-price">
                      <div *ngIf="item.propertyX; else webprice">
                          <span class="price-new"><i>{{coin}}</i>{{item.propertyX.price}}</span>
                      </div>
                      <ng-template #webprice>
                          <span class="price-new"><i>{{coin}}</i>{{item.product.webprice}}</span>
                      </ng-template>
                      <div><ion-icon class="close-font" name="md-close"></ion-icon>{{item.amount}}</div>
                  </div>
                </div>
            </ion-row>
        </div> 
      </div>
      <ion-row justify-content-between padding class="item-border2 item-price">
          <span class="">运费:<i>{{coin}}</i>{{transport[1]}}</span>
          <span class="price-new">小计:<i>{{coin}}</i>{{typeprice[1]}}</span>
      </ion-row>
  </div>

  <div *ngIf="cart2.length > 0">
      <div padding-right padding-left class="item-border">
          <ion-row justify-content-between align-items-center style="text-align: center;">
              <div class="" style="text-align:center!important;">亚马逊商城</div>
              <div><ion-icon name="arrow-up"></ion-icon></div>
          </ion-row>
      </div>
      <div padding-right padding-left class="item-border2" *ngFor="let item of cart2;let i = index">
            <ion-row justify-content-start align-items-center class="flex-nowrap">
                <div class="product-img"><img src="{{item.product.images}}" alt=""></div>
                <div class="product">
                  <div class="product-title">{{item.product.productname}}</div>
                  <div class="product-attr" *ngIf="item.attr">{{item.attr}}</div>
                  <div justify-content-between class="list-price">
                        <div *ngIf="item.propertyX; else webprice">
                            <span class="price-new"><i>{{coin}}</i>{{item.propertyX.price}}</span>
                        </div>
                        <ng-template #webprice>
                            <span class="price-new"><i>{{coin}}</i>{{item.product.webprice}}</span>
                        </ng-template>
                        <div><ion-icon class="close-font" name="md-close"></ion-icon>{{item.amount}}</div>
                    </div>
                </div>
            </ion-row>
      </div>
      <ion-row justify-content-between padding class="item-border2 item-price">
          <span class="">运费:<i>{{coin}}</i>{{transport[2]}}</span>
          <span class="price-new">小计:<i>{{coin}}</i>{{typeprice[2]}}</span>
      </ion-row>
  </div>


  <div *ngIf="cart3.length > 0">
      <div padding-right padding-left class="item-border">
          <ion-row justify-content-between align-items-center style="text-align: center;">
              <div class="" style="text-align:center!important;">乐天商城</div>
              <div><ion-icon name="arrow-up"></ion-icon></div>
          </ion-row>
      </div>
      <div padding-right padding-left class="item-border2" *ngFor="let item of cart3;let i = index">
            <ion-row justify-content-start align-items-center class="flex-nowrap">
                <div class="product-img"><img src="{{item.product.images}}" alt=""></div>
                <div class="product">
                  <div class="product-title">{{item.product.productname}}</div>
                  <div class="product-attr" *ngIf="item.attr">{{item.attr}}</div>
                  <div justify-content-between class="list-price">
                        <div *ngIf="item.propertyX; else webprice">
                            <span class="price-new"><i>{{coin}}</i>{{item.propertyX.price}}</span>
                        </div>
                        <ng-template #webprice>
                            <span class="price-new"><i>{{coin}}</i>{{item.product.webprice}}</span>
                        </ng-template>
                        <div><ion-icon class="close-font" name="md-close"></ion-icon>{{item.amount}}</div>
                    </div>
                </div>
            </ion-row>
      </div>
      <ion-row justify-content-between padding class="item-border2 item-price">
          <span class="">运费:<i>{{coin}}</i>{{transport[3]}}</span>
          <span class="price-new">小计:<i>{{coin}}</i>{{typeprice[3]}}</span>
      </ion-row>
  </div>

  
    

</ion-content>

<ion-footer class="foot-box">
    <ion-row justify-content-end class="foot-fee">
      <div>共<span class="color6">{{cartNum}}</span>件，</div>
      <div>总金额：<span class="color6"><i>{{coin}}</i><span class="total-font">{{total}}</span></span></div>
      <div class="jiesuan" (click)="createOrders()">提交订单</div>
    </ion-row>
</ion-footer>