page-member-nickname {
    .content-bgcolor{
        background-color:#F3F3F3;
        font-size:16px;
    }
    .item-bgcolor{
        background-color:#fff;
    }
    .item-border{
        background-color:#fff;
        margin-top:2px;
        ion-row{
            padding-top:10px;
            padding-bottom:10px;
            font-family:"黑体-简";
        }
    }
    .item-input{
        border:none;
        width:100%;
    }
    .divwidth{
        width:90%;
    }
}
