<!--
  Generated template for the NationTransportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>国际转运</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="font-color">
  <div *ngIf="success == 0">
    <div padding class="address-border">
      <ion-row justify-content-between  align-items-center>
          <ion-row justify-content-between>
              <div>{{receiveman}}</div>
              <div class="note-font">日本仓库地址</div>
          </ion-row>
          <div>{{phone}}</div>
      </ion-row>
      <div padding-top class="font-size14">{{address}}</div>
    </div>

    <div padding-left class="item-title">填写发货单</div>

    <div padding>
      <div class="item-border">
          <ion-row justify-content-between padding-bottom class="input-border">
            <div><label>快递公司:</label><input type="text" [(ngModel)]="companyname" placeholder="请填写正确的日本国内快递" class="item-input" #oldpass></div>
          </ion-row>
      </div>
      <div padding-top class="item-border">
          <ion-row justify-content-between padding-bottom class="input-border">
            <div><label>快递订单:</label><input type="text" [(ngModel)]="transportorder" placeholder="请填写正确的运单号" class="item-input" #oldpass></div>
          </ion-row>
      </div>
      <!-- <div padding-top class="item-border">
          <ion-row justify-content-between padding-bottom class="input-border">
            <div><label>发货日期:</label><input type="text" [(ngModel)]="senddate" placeholder="请填写第三方发货日期" class="item-input" #oldpass></div>
          </ion-row>
      </div> -->
      <ion-item class="item-border date-box">
        <ion-label>发货日期:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="senddate" cancelText="取消" doneText="确定" placeholder="请填写第三方发货日期"></ion-datetime>
      </ion-item>
      <div padding-top class="item-border">
          <ion-row justify-content-between padding-bottom class="input-border">
            <div><label>备注信息:</label><input type="text" [(ngModel)]="note" placeholder="如物品注意事项" class="item-input" #oldpass></div>
          </ion-row>
      </div>
    </div>

    <div padding-left class="item-title">国内收货地址</div>

    <div padding class="font-size14">
      <ion-row justify-content-between>
        <div style="width:90%;">
            <ion-row justify-content-between>
              <div>{{raddress.name}}</div>
              <div>{{raddress.mobile}}</div>
            </ion-row>
            <div>{{raddress.address}}</div>
        </div>
        <div class="icon-box" (click)="manageAddress()"><ion-icon name="arrow-forward"></ion-icon></div>
      </ion-row>
    </div>
  </div>
  

  <div *ngIf="success == 1">
    <div class="success-icon-content">
        <ion-icon class="icon-font" ios="md-checkbox-outline" md="md-checkbox-outline"></ion-icon>
    </div>
      <div class="success-title">订单提交成功！</div>
      <div class="success-note">转运进度到“我的转运订单”中查看</div>
      <div padding>
        <ion-row padding-left padding-right justify-content-between class="btn-row">
          <div class="btn-border" (click)="goorder()">查看订单</div>
          <div class="btn-border" (click)="gohome()">返回首页</div>
        </ion-row>
      </div>
  </div>

  <div padding>
    <ion-row justify-content-between>
      <div class="circle-box">
          <div class="circle1"><div class="circle2">1</div></div>
          <div class="circle-content">填写运单</div>
      </div>
      <div class="circle-box">
          <div class="circle1"><div class="circle2">2</div></div>
          <div class="circle-content">等待确认</div>
      </div>
      <div class="circle-box">
          <div class="circle1"><div class="circle2">3</div></div>
          <div class="circle-content">支付费用</div>
      </div>
      <div class="circle-box">
          <div class="circle1"><div class="circle2">4</div></div>
          <div class="circle-content">国际运输</div>
      </div>
    
    </ion-row>
  </div>

</ion-content>



<ion-footer *ngIf="success == 0">
  <div class="btn-footer" (click)="submitOrder()">
    提交转运订单
  </div>
</ion-footer>
